body{
  background-color: #2d3047 !important;
}

.box-shadow {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.active{
  text-decoration: none;
 }

 .active span, .activeGenre{
  color: black !important;
 }

.descriptionContainer{
  text-align: justify;
}

#applicationLemotiv{
  position: absolute;
}

#navbarChatFlix, #sidebarChatFlix {
  background-color: #377771;
}

.messageDiv{
  background-color: #377771;
  height: 5%;
  margin: 10px;
}
#navbarChatFlix span, #sidebarChatFlix span, .genreListOption {
  color: white;
}